########################################
####		Specific Excludes 		####
########################################

# Hidden files/folders
.temp/
.vscode/
.DS_Store
philo.code-workspace
valgrind-update.txt
.heredoc_tmp

# Temporary directories
objects/
build/
sources_old/
headers/imported
outdir/

########################################
####	Generic Excludes (Github)	####
########################################

# Object files
*.o
*.obj

# Precompiled Headers
*.gch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out

# Debug files
*.dSYM/
